{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>Flask + Redis Queue + PySpark + Docker</h1>
    <hr><br>
    <div>
      <h3>Word Counts</h3>
      <br>
      <button type="button" class="btn btn-primary">sometimes fish eat other fish</a></button>
      <button type="button" class="btn btn-primary">my bacon is better than your bacon</a></button>
      <button type="button" class="btn btn-primary">bears never attack when  bears are near</a></button>
    </div>
    <br><br>
    <div>
      <h3>Status</h3>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Status</th>
            <th width="40%">Result</th>
          </tr>
        </thead>
        <tbody id="tasks">
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
